NODE_ENV = "development"
PORT = 4000
ALLOWED_ORIGIN = "http://localhost:3000"
POSTGRES_USER = "your_pg_user"
POSTGRES_HOST = "your_pg_host"
POSTGRES_PASSWORD = "your_pg_password"
POSTGRES_DB = "your_db"
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5433/${POSTGRES_DB}?schema=public"
FALLBACK_LANGUAGE = "en"
JWT_SECRET = "you_jwt_secret"
ACCESS_TOKEN_EXPIRATION = "15m"
REFRESH_TOKEN_EXPIRATION = "7d"
DOMAIN = "localhost"
